<div class="freelancer">
    <form>
        <div class="card">
            <tr>
                <td>
                    <div class="details" id="fl-01">
                        <div class="user">
                            <div class="avatar-container">
                                <img src="../w1.jpg" class="avatar" />
                            </div>
                            <h3>
                                Michael B Cole
                            </h3>
                        </div>
                        <p>Hello! I’m Michael B Cole - Graphic Designer from USA. I’m always obsessed by the nice
                            detail. I’m available to hire. Let feel free to contact me via...</p>
                            <div class="rec"><input type="button" value="Recruit" class="recruit"/></div>
                    </div>
                </td>
                <td>
                    <div class="details">
                        <div class="user">
                            <div class="avatar-container">
                                <img src="../w3.jpg" class="avatar" />
                            </div>
                            <h3>
                                Angela Joseph
                            </h3>
                        </div>
                        <p>Hello! I’m Angela Joseph - Web Designer from USA. I’m always obsessed by the nice
                            detail. I’m available to hire. Let feel free to contact me via...</p>
                            <div class="rec"><input type="button" value="Recruit" class="recruit"/></div>
                    </div>
                </td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td>
                    <div class="details" id="fl-03">
                        <div class="user">
                            <div class="avatar-container">
                                <img src="../w4.jpg" class="avatar" />
                            </div>
                            <h3>
                                Jessica Richard
                            </h3>
                        </div>
                        <p>Hello! I’m Jessica Richard - Web Developver from USA. I love to develop websites and web
                            apis. I’m available to hire. Let feel free to contact me via...</p>
                            <div class="rec"><input type="button" value="Recruit" class="recruit"/></div>
                    </div>
                </td>
                <td>
                    <div class="details">
                        <div class="user">
                            <div class="avatar-container">
                                <img src="../w2.jpg" class="avatar" />
                            </div>
                            <h3>
                                Steve Rogers
                            </h3>
                        </div>
                        <p>Hello! I’m Steve Rogers - Web Designer from USA. I’m always obsessed by the nice
                            detail. I’m available to hire. Let feel free to contact me via...</p>
                            <div class="rec"><input type="button" value="Recruit" class="recruit"/></div>
                    </div>
                </td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td>
                    <div class="details" id="fl-01">
                        <div class="user">
                            <div class="avatar-container">
                                <img src="../w6.jpg" class="avatar" />
                            </div>
                            <h3>
                                Sebastian Stan
                            </h3>
                        </div>
                        <p>Hello! I’m Sebastian Stan - Software Developer from USA. I love to develop mobile and web
                            application. I’m available to hire. Let feel free to contact me via...</p>
                            <div class="rec"><input type="button" value="Recruit" class="recruit"/></div>
                    </div>
                </td>
                <td>
                    <div class="details">
                        <div class="user">
                            <div class="avatar-container">
                                <img src="../w5.jpg" class="avatar" />
                            </div>
                            <h3>
                                Emily Rudd
                            </h3>
                        </div>
                        <p>Hello! I’m Emily Rudd - Software Developer from USA. I love to develop mobile and web
                            application. I’m available to hire. Let feel free to contact me via...</p>
                            <div class="rec"><input type="button" value="Recruit" class="recruit"/></div>
                    </div>
                </td>
            </tr>
        </div>
    </form>
</div>