<div class="about">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="content">
        <p>
            At Job Portal, our mission is to connect job seekers with their dream jobs and help employers
            find the perfect candidates to join their teams. We believe that every job seeker deserves to find a job
            they love and every employer deserves to find the right talent to drive their business forward.
        </p>
        <p>We offer a user-friendly platform where job seekers can browse thousands of job listings from various
            industries. Our advanced search and filter options help you find the jobs that match your skills and
            interests. You can also create a profile, upload your resume, and apply for jobs directly through our
            platform.</p>
        <p>We’re here to help! If you have any questions, feedback, or need assistance, please don’t hesitate to contact
            us at 'jobportal&#64;gmail.com' or 8844232333.</p>
    </div>
</div>