<div class="contact">
    <h1>Contact us</h1>
    <form>
        <table>
            <div class="data">
                <tr>
                    <td><Input type="text" placeholder="Enter your name" /></td>
                    <td><Input type="email" placeholder="Enter your email" /></td>
                    <td><Input type="number" placeholder="Enter your phone number" /></td>
                </tr>
            </div>
            <div class="messageContainer">
                <tr>
                    <td><textarea class="message" placeholder="Enter your message"></textarea></td>
                </tr>
            </div>
            <div class="btn-container">
                <input type="button" value="Send your message" class="send">
            </div>
        </table>
    </form>
    <div class="contact-img">
    <img src="./contacts.png"/>
</div>
</div>