@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Outfit", sans-serif;
    background-size: cover;
    background: linear-gradient(to top right, #e66465, #9198e5);
    min-height: 100vh;
}