<div class="home">
    <div>
        <h1 class="heading">Hola! We found 3400+ jobs for you</h1>
        <p>Subscribe and receive at least 10 jobs each day from us!</p>
    </div>
</div>
<div class="form">
    <form>
        <table>
            <tr>
                <td><input type="text" placeholder="Enter the role"/></td>
                <td><select>
                    <option>Category</option>
                    <option>Website IT & Software</option>
                    <option>Mobile Development</option>
                    <option>Data Analysis</option>
                </select></td>
                <td><select>
                    <option>Location</option>
                    <option>Mumbai</option>
                    <option>Chennai</option>
                    <option>Hyderabad</option>
                    <option>Banglore</option>
                    <option>Kolkata</option>
                </select></td>
                <td><input type="button" name="Search" value="Search"/></td>
            </tr>
        </table>
    </form>
</div>