<div class="homeContent">
    <div class="mc">
        <div class="home">
            <div>
                <h1 class="heading">Hola! We found 3400+ jobs for you</h1>
                <p>Subscribe and receive at least 10 jobs each day from us!</p>
            </div>
        </div>
        <div class="form">
            <form>
                <table>
                    <tr>
                        <td><input type="text" placeholder="Enter your years of experience" class="role" /></td>
                        <td><select class="category">
                                <option>Category</option>
                                <option>Website IT & Software</option>
                                <option>Mobile Development</option>
                                <option>Data Analysis</option>
                                <option>Data Mining</option>
                                <option>Blockchain Development</option>
                                <option>Android Development</option>
                                <option>Game Development</option>
                                <option>IOS Development</option>
                                <option>Full stack</option>
                                <option>UI Development</option>
                            </select></td>
                        <td><select class="location">
                                <option>Location</option>
                                <option>Mumbai</option>
                                <option>Chennai</option>
                                <option>Hyderabad</option>
                                <option>Banglore</option>
                                <option>Kolkata</option>
                                <option>Delhi</option>
                                <option>Coimbatore</option>
                                <option>Gujarat</option>         
                                <option>Pune</option>         
                                <option>Lucknow</option>         
                            </select></td>
                        <td><input type="button" name="Search" value="Search" class="search" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="image-container">
            <img src="../workImg.png" class="image-content"/>
        </div>
    </div>
</div>